


body{
	
	color:  white;
	
}
h1{
    color: black;
}
h1, h2{
	text-align:  center;
    /* color: black; */
}

h1{
	font-size:  3em;
}

.user{
    text-align: center;
}
h2{
	font-size:  2.5em;
}

#tablero{
	margin: auto;
	width: 550px;
	max-width:  100%;
	display:  flex;
    align-items: center;
    justify-content: center;
	flex-wrap:  wrap;
}

.juego-celda{
	width: 170px;
	height: 170px;  
	max-width: 33.33%;
	font-size:  10em;
}

#textoVictoria{
	visibility: hidden;
	color: black;
}


.modal-container{
    display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
    pointer-events: auto;
    opacity: 1;
  }
  
  .modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }


